
    #main_container-642175895 {height:100%;width:100%;min-height:100vh;}
  
    #frame_2147211227-642175908 {background:url(resources/images/imagelists/frame_2147211227-642175908.png) transparent    no-repeat;padding:24px;width:500px;background-size:cover;}
  
    #assistant_header-642175909 {width:452px;}
  
    #frame_2147211226-642175912 {height:746px;width:452px;}
  
    #assistant_content-642175913 {width:439px;}
  
    #frame_2147211209-642175915 {background:var(--State-Layers-On-Secondary-Opacity-16, rgba(255, 255, 255, 0.64));border-radius:2px;height:44px;}
  
    #dashboard_container-642306384 {height:858px;}
  
    #prompt_container-642306388 {width:259px;}
  
