:root[color='dark'] {
--wm-color-primary-2: #D0BCFEFF;
--wm-color-primary: #D0BCFEFF;
--wm-color-primary-container: #4F378BFF;
--wm-color-primary-fixed: #EADDFFFF;
--wm-color-primary-fixed-dim: #ffe8e2;
--wm-color-on-primary: #381E72FF;
--wm-color-on-primary-container: #EADDFFFF;
--wm-color-on-primary-fixed: #21005DFF;
--wm-color-on-primary-fixed-variant: #804536;
--wm-color-secondary: #CCC2DCFF;
--wm-color-secondary-container: #4A4458FF;
--wm-color-secondary-fixed: #E8DEF8FF;
--wm-color-secondary-fixed-dim: #bbbcd6;
--wm-color-on-secondary: #332D41FF;
--wm-color-on-secondary-container: #E8DEF8FF;
--wm-color-on-secondary-fixed: #1D192BFF;
--wm-color-on-secondary-fixed-variant: #404154;
--wm-color-tertiary: #EFB8C8FF;
--wm-color-tertiary-container: #633B48FF;
--wm-color-tertiary-fixed: #FFD8E4FF;
--wm-color-tertiary-fixed-dim: #e9e1c3;
--wm-color-on-tertiary: #492532FF;
--wm-color-on-tertiary-container: #FFD8E4FF;
--wm-color-on-tertiary-fixed: #31111DFF;
--wm-color-on-tertiary-fixed-variant: #544c31;
--wm-color-error: #F2B8B5FF;
--wm-color-error-container: #8C1D18FF;
--wm-color-on-error: #601410FF;
--wm-color-on-error-container: #F9DEDCFF;
--wm-color-background: #0d0d0dff;
--wm-color-on-background: #000000;
--wm-color-outline: #000000;
--wm-color-outline-variant: #212121;
--wm-color-shadow: #000000;
--wm-color-scrim: #0d0d0dff;
--wm-color-surface: #141218FF;
--wm-color-surface-variant: #49454FFF;
--wm-color-surface-bright: #3B383EFF;
--wm-color-surface-dim: #141218FF;
--wm-color-surface-tint: #D0BCFFFF;
--wm-color-surface-container: #211F26FF;
--wm-color-surface-container-low: #1D1B20FF;
--wm-color-surface-container-lowest: #0F0D13FF;
--wm-color-surface-container-high: #2B2930FF;
--wm-color-surface-container-highest: #36343BFF;
--wm-color-on-surface: #E6E0E9FF;
--wm-color-on-surface-variant: #CAC4D0FF;
--wm-color-inverse-surface: #E6E0E9FF;
--wm-color-inverse-on-surface: #322F35FF;
--wm-color-inverse-primary: #6750A4FF;
--wm-color-headerbg: #0D0D0D;
--wm-color-charttext: #FFFFFF;
--wm-color-chartbg: #0D0D0D;
--wm-color-darklightbg: linear-gradient(90deg, #19191A 0%, #121212 100%);
--wm-color-bodybg: #0D0D0D;
--wm-color-onprimarylabel: #FFFFFF;
--wm-color-container-padding: 0px;
--wm-color-border-none-dark: 0px;
--wm-color-modal-content-bg: #1D1D1F;
--wm-color-surface-dim-bg: #0D0D0D;
--wm-color-on-dialog-chart-bg: #000000;
--wm-color-ai-textarea-border-width: 1px;
--wm-color-ai-textarea-border-color: #27272B;
--wm-color-ai-textarea-border-bg: #1C1C1F;
--wm-color-ai-default-indicator-bg: #18181B80;
--wm-color-ai-default-indicator-border: #27272B80;
--wm-color-ai-default-indicator-primary-bg: linear-gradient(94.38deg, rgba(88, 61, 129, 0.4) 45.01%, rgba(163, 110, 207, 0.4) 83.97%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) ;
--wm-color-table-text: #FFFFFF;
--wm-color-on-bg-text: #FFFFFF;
--wm-color-ai-left-bg: #0D0D0D;
--wm-color-dialog-text: #FFFFFF;
--wm-color-dialog-list-bg: #FFFFFF08;
--wm-color-dialog-list-line: #FFFFFF33;
--wm-color-label-color: #ffffffff;
--wm-color-theme-bg: #FFFFFF1A;
--wm-color-theme-text-color: #FFFFFF;
--wm-color-footerbg: #0D0D0D;
}

:root {
--wm-color-primary-2: #65558FFF;
--wm-color-primary: #940ECEFF;
--wm-color-primary-container: #F2E0E2FF;
--wm-color-primary-fixed: #EADDFFFF;
--wm-color-primary-fixed-dim: #ffe8e2;
--wm-color-on-primary: #FFFFFFFF;
--wm-color-on-primary-container: #C12725FF;
--wm-color-on-primary-fixed: #21005DFF;
--wm-color-on-primary-fixed-variant: #804536;
--wm-color-secondary: #625B71FF;
--wm-color-secondary-container: #F4EEDBFF;
--wm-color-secondary-fixed: #E8DEF8FF;
--wm-color-secondary-fixed-dim: #bbbcd6;
--wm-color-on-secondary: #FFFFFFFF;
--wm-color-on-secondary-container: #A85B17FF;
--wm-color-on-secondary-fixed: #1D192BFF;
--wm-color-on-secondary-fixed-variant: #404154;
--wm-color-tertiary: #7D5260FF;
--wm-color-tertiary-container: #FFD8E4FF;
--wm-color-tertiary-fixed: #FFD8E4FF;
--wm-color-tertiary-fixed-dim: #e9e1c3;
--wm-color-on-tertiary: #FFFFFFFF;
--wm-color-on-tertiary-container: #633B48FF;
--wm-color-on-tertiary-fixed: #31111DFF;
--wm-color-on-tertiary-fixed-variant: #544c31;
--wm-color-error: #F93C65FF;
--wm-color-error-container: #F9DEDCFF;
--wm-color-on-error: #FFFFFFFF;
--wm-color-on-error-container: #3A853CFF;
--wm-color-background: #FEF7FFFF;
--wm-color-on-background: #1D1B20FF;
--wm-color-outline: #E5E7EBFF;
--wm-color-outline-variant: #E4E4E4;
--wm-color-shadow: #000000FF;
--wm-color-scrim: #000000FF;
--wm-color-surface: #FFFFFFFF;
--wm-color-surface-variant: #E7E0ECFF;
--wm-color-surface-bright: #FEF7FFFF;
--wm-color-surface-dim: #FAFAFAFF;
--wm-color-surface-tint: #654FD0FF;
--wm-color-surface-container: #F3EDF7FF;
--wm-color-surface-container-low: #F4F6F8FF;
--wm-color-surface-container-lowest: #FFFFFFFF;
--wm-color-surface-container-high: #ECE6F0FF;
--wm-color-surface-container-highest: #E6E0E9FF;
--wm-color-on-surface: #242424FF;
--wm-color-on-surface-variant: #6B7280FF;
--wm-color-inverse-surface: #322F35FF;
--wm-color-inverse-on-surface: #F5EFF7FF;
--wm-color-inverse-primary: #D0BCFFFF;
--wm-color-headerbg: #FFFFFF;
--wm-color-charttext: #000000;
--wm-color-chartbg: #ffffff;
--wm-color-darklightbg: #FFFFFF;
--wm-color-bodybg: #FFFFFF;
--wm-color-onprimarylabel: #FFFFFF;
--wm-color-container-padding: 18px;
--wm-color-border-none-dark: 1px;
--wm-color-modal-content-bg: linear-gradient(135deg, #f2f0ff 0%, #ffffff 50%, #f9f7ff 100%);
--wm-color-surface-dim-bg: #FAFAFA;
--wm-color-on-dialog-chart-bg: #F1F0FD;
--wm-color-ai-textarea-border-width: 1px;
--wm-color-ai-textarea-border-color: #E5E7EB;
--wm-color-ai-textarea-border-bg: #FFFFFF;
--wm-color-ai-default-indicator-bg: #FFFFFF;
--wm-color-ai-default-indicator-border: #FFFFFF;
--wm-color-ai-default-indicator-primary-bg: linear-gradient(94.38deg, rgba(88, 61, 129, 0.4) 45.01%, rgba(163, 110, 207, 0.4) 83.97%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) ;
--wm-color-table-text: #000000;
--wm-color-on-bg-text: #000000;
--wm-color-ai-left-bg: #F9F7FD;
--wm-color-dialog-text: #000000;
--wm-color-dialog-list-bg: #ffffff;
--wm-color-dialog-list-line: #CECFDA;
--wm-color-label-color: #000000;
--wm-color-theme-bg: #FFFFFF;
--wm-color-theme-text-color: #940ece;
--wm-color-footerbg: #FFFFFF;
}

