
    #ai_bot__zero_state__1-642175855 {width:100%;min-height:100vh;height:100%;}
  
    #content_container-642175867 {height:856px;}
  
    #sidebar_image-642175868 {background:url(resources/images/imagelists/sidebar_image-642175868.png) transparent    no-repeat;height:100%;padding:24px;width:500px;background-size:cover;}
  
    #assistant_header-642176887 {width:452px;}
  
    #frame_2147211211-642337580 {background:url(resources/images/imagelists/frame_2147211211-642337580.png) transparent    no-repeat;border:1px solid var(--Schemes-On-Primary, #FFF);border-radius:6px;background-size:cover;}
  
    #frame_2147211209-642175881 {background:var(--State-Layers-On-Secondary-Opacity-16, rgba(255, 255, 255, 0.64));border:2px solid var(--Schemes-On-Primary, #FFF);border-radius:6px;}
  
    #frame_2147211210-642175884 {background:var(--State-Layers-On-Secondary-Opacity-16, rgba(255, 255, 255, 0.64));border:2px solid var(--Schemes-On-Primary, #FFF);border-radius:6px;}
  
    #dashboard_container-642175888 {height:858px;}
  
    #prompt_container-642175892 {width:259px;}
  
